/* BRAND COLORS */
/* #0BD7EC (LIGHT BLUE) */
/* #2E2D2B (BLACK) */
/* #114A67 (MEDIUM BLUE) */
/* #09364B (DARK BLUE) */




.elevator-shaft{
  background-color: #09364B;
}

/* START PAGE STYLING */

#esc-logo-container {
  background-color: #114A67;
  width: 100%;
  min-height: 50vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

#esc-logo {
  background-color: #09364B;
  width: 50%;
  min-height: 50vh;
  margin: 0 auto;
}

#start-form-container {
  background-color: #09364B;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#start-form {
  background-color: #114A67;
  width: 50%;
  min-height: 30vh;
  margin: 0 auto;

}