/* BRAND COLORS */
/* #0BD7EC (LIGHT BLUE) */
/* #2E2D2B (BLACK) */
/* #114A67 (MEDIUM BLUE) */
/* #09364B (DARK BLUE) */


/* STANDARD BACKGROUND STYLE FOR START PAGE */

.background-style {
  background-color: #2E2D2B;
  color: #0BD7EC;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: 'B612 Mono', monospace;
  width: 100vw;
  height: 100vh; 
}

.elevator-shaft{
  background-color: #09364B;

}

/* MAIN NAV STYLING */
.main-nav-container{
  /* background-color: #0BD7EC; */
  color:#0BD7EC;
  width: 100%;
  height: 5vh;
}

.btn-container {
  width: 60vw;
  margin: 0 auto;
  text-align: right;
}

.nav-link {
  text-decoration: none;
  text-align: right;
  color: #0BD7EC;
}

/* START PAGE STYLING */

#esc-logo-container {
  width: 100%;
  height: 60vh;
}

#esc-logo {
  width: 50%;
  height: 60vh;
  margin: 0 auto;
}

#start-form-container {
  width: 100%;
  height: 35vh;
}

#start-form {
  background-color: #09364B;
  width: 60%;
  border: 4px solid #0BD7EC;
  border-radius: 20px;
  min-height: 30vh;
  margin: 0 auto;
}

/* START GAME FORM STYLING */

#start-game-form-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.username-form-field {
  padding: 10px 20px 10px 20px;
  font-size: 3rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field {
  background-color: #114A67;
  border: 3px solid #0BD7EC;
  border-radius: 20px;
  color: #0BD7EC;
  margin: 0 auto;
  font-size: 2.5rem;
  width: 24vw;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'B612 Mono', monospace;
}

.start-button {
  background-color: #09364B;
  color: #0BD7EC;
  border: 2px solid #0BD7EC;
  font-family: 'B612 Mono', monospace;
  font-size: 1.7rem;
  border-radius: 5px;
  width: 12vw;
  height: 10vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.start-button:hover {
  background-color: #0BD7EC;
  color:#09364B;
  border-color: #114A67;
}

/* SCENE CARD STYLING */

.scene-card-content {
  width: 90vw;
  height: 90vh;
  background-color: #09364B;
  border: 3px solid;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.slack-message {
  width: 55vw;
  height: 60vh;
  background-color: white;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  align-content: center;
}

.slack-card-logo {
  background-color: #4A154C;
  width: 30vh;
  height: 60vh;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}


/* GAME COMPLETE PAGE STYLING */

.complete {
  width: 996px;
  height: 570px;
  margin: 0 auto;
  margin-top: 131px;
  text-align: center;
  background-color: #09364B;
  border: 3px solid;
  border-radius: 30px;
  border-color: #0BD7EC;
}

.complete-message {
  font-size: 1.8em;
  margin-top: 180px;
}

.replay {
  margin-top: 120px;
}

.replay-btn {
  background-color: #114A67;
  color: #0BD7EC;
  width: 303px;
  height: 67px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #0BD7EC;
  font-family: 'B612 Mono', monospace;
  font-size: 2.3em;
}

.replay-btn:hover {
  background-color: #0BD7EC;
  color:#09364B;
  border-color: #114A67;
  cursor: pointer;

}


/* NAV BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
