/* BRAND COLORS */
/* #0BD7EC (LIGHT BLUE) */
/* #2E2D2B (BLACK) */
/* #114A67 (MEDIUM BLUE) */
/* #09364B (DARK BLUE) */


/* STANDARD BACKGROUND STYLE FOR START PAGE */

.background-style {
  background-color: #2E2D2B;
  color: #0BD7EC;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: monospace;
  width: 100vw;
  height: 100vh;

.elevator-shaft{
  background-color: #09364B;

}

/* START PAGE STYLING */

#esc-logo-container {
  background-color: #114A67;
  width: 100%;
  height: 60vh;
}

#esc-logo {
  background-color: #09364B;
  width: 50%;
  height: 60vh;
  margin: 0 auto;
}

#start-form-container {
  width: 100%;
  height: 40vh;
}

#start-form {
  width: 50%;
  min-height: 30vh;
  margin: 0 auto;
}

/* START GAME FORM STYLING */

#start-game-form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.username-form-field {
  font-size: 3rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field {
  margin: 0 auto;
  font-size: 3rem;
  width: 24vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  border-radius: 5px;

}

.start-button {
  background-color: #09364B;
  color: #0BD7EC;
  border: 2px solid #0BD7EC;
  font-family: monospace;
  font-size: 1.7rem;
  border-radius: 5px;
  margin: 0 auto;
  width: 12vw;
  height: 10vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.start-button:hover {
  background-color: #0BD7EC;
  color:#09364B;
  border-color: #114A67;



}