/* BRAND COLORS */
/* #0BD7EC (LIGHT BLUE) */
/* #2E2D2B (BLACK) */
/* #114A67 (MEDIUM BLUE) */
/* #09364B (DARK BLUE) */


/* MAIN NAV STYLING */
.main-nav-container{
  /* width: 100vw; */
  text-align: right;
  position: fixed;
  top: 0;
  right:0;
  z-index: 3;
  margin: 10px;
}

#btn-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* NAV BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#game-nav{
  padding: 20px;
}

.in-game-logo{
  width: 60px;
  height:auto;
  position: fixed;
  right:0;
  top:0;
  z-index: 300;
  margin: 10px;

}

.nav-link {
  text-decoration: none;
  border: 2px solid white;
  text-align: right;
  color: #0BD7EC;
}

/* Timer  */

#stopwatch-time{
  position: fixed;
  right:0;
  top:42px;
  z-index: 300;
  margin-top: 10px;
  margin-right: 10px;
  color: #0BD7EC;
  font-family: 'Space Mono', monospace;
  text-transform: capitalize;
  font-weight: 500;
  background-image: url('/images/screen-texture.png');
  background-size: cover;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  border-color: #0BD7EC;
  padding: 5px;
}

#red-time{
  position: fixed;
  right:0;
  top:40px;
  z-index: 300;
  margin-top: 10px;
  margin-right: 5px;
  color: #EC0B0B;
  font-family: 'Space Mono', monospace;
  text-transform: capitalize;
  font-weight: 500;
  background-color: #671111;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  border-color: #EC0B0B;
  padding: 5px;
}

.blinking {
  
  border-bottom: 10px solid #0BD7EC;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 5000;
}
@keyframes blinking {
  50% {
    border-color: black;
  }

}

/* Global Styles */

.grey-background {
  /* background-color: #2E2D2B; */
  background-image: url('/images/bg-texture.jpg');
  background-size: cover;
  color: #0BD7EC;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: 'B612 Mono', monospace;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn-container {
  width: 60vw;
  margin: 0 auto;
  text-align: right;
}

.blue-button{
  background-color: #114A67;
  color: #0BD7EC;
  border: 2px solid;
  border-radius: 20px;
  border-color: #0BD7EC;
  font-family: 'B612 Mono', monospace;
  font-size: 1.5em;
  font-weight: 400;
  padding-left: 3em;  
  padding-right: 3em;
  padding-top: .3em;
  padding-bottom: .3em;
  margin: 20px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 10px #0BD7EC;
  z-index: 1;
}


#red-btn{
  background-color: #671111;
  color: #EC0B0B;
  border-color: #EC0B0B;
  box-shadow: 0 0 10px #EC0B0B;
}

#green-btn{
  background-color: #2D6711;
  color: #6EEC0B;
  border-color: #6EEC0B;
  box-shadow: 0 0 10px #6EEC0B;
}

#red-btn:hover{
  background-color: #EC0B0B;
  color: #4D0C0C;
  border-color: #671111;
  cursor: pointer;
}

.blue-button:hover {
  background-color: #0BD7EC;
  color:#09364B;
  border-color: #114A67;
  cursor: pointer;
}

.blue-button-sml {
  width: 10vw;
  font-size: 1rem;
  padding: .5em;
  border-radius: 10px;
  margin: 2px;
}

.blue-button-lge {
  width: 16vw;
  font-size: 1.1em;

}
.screen {
  background-image: url('/images/screen-texture.png');
  background-size: cover; 
  min-width: 60%;
  margin: 0 auto;
  text-align: center;
  /* background-color: #09364B; */
  border: 3px solid;
  border-radius: 30px;
  border-color: #0BD7EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  box-shadow: 0 0 10px #0BD7EC;
  animation: zoom-in 2s ease;
  color: #0BD7EC;
}

#red-screen{
  border-color: #EC0B0B;
  background-color: #4D0C0C;
  color: #EC0B0B;
  background-image: url(#);
  box-shadow: 0 0 10px #EC0B0B;

}

.red-screen{
  border-color: #EC0B0B;
  background-color: #4D0C0C;
  color: #EC0B0B;
  background-image: url(#);
  box-shadow: 0 0 10px #EC0B0B;

}

#yellow-screen {
  background-color: #675911; 
  border-color: #ECBA0B;
  color: #ECBA0B;
  background-image: url(#);
  min-width: 40vw;
  height: 20vh;
  padding: 10px;
  box-shadow: 0 0 10px #ECBA0B;

}

.screen-sml {
  min-width: 40%;
  width: 40vw;
  font-family: 'B612 Mono', monospace;
  color:#0BD7EC
}

.screen-message {
  font-size: 1.4em;
  margin:2em;
  font-weight: 400;
}



/* START PAGE STYLING */

#esc-logo-container {
  width: 100%;
  height: 60vh;
}

#esc-logo {
  width: 50%;
  height: 60vh;
  margin: 0 auto;
}




/* START GAME FORM STYLING */

.form-screen{
  margin-bottom: 50px;
  padding: 20px;
}

#start-game-form-container {
  padding: 5px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  
}

.form-label {
  padding: 10px 20px 10px 20px;
  font-size: 1.7rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:100;
}

input{
  background-color: #114A67;
  border: 3px solid #0BD7EC;
  justify-content: center;
  align-items: center;

}

input::placeholder {
  color: #09364B;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.2em;
}

input:focus{
  box-shadow: 0 0 10px #0BD7EC;

}

.input-field {
 
  border-radius: 20px;
  color: #0BD7EC;
  margin: 0 auto;
  font-size: 1.7rem;
  padding: 10px 20px 10px 20px;
  font-family: 'B612 Mono', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#enter-name{
  margin: 20px;
}

/* SCENE CARD STYLING */

.slack-card {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
}


.slack-messagecard {
  width: 55vw;
  height: 60vh;
  background-color: white;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;  
  text-align: left;
  font-family: sans-serif;
  color :black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slack-sidecard {
  background-color: #4A154C;
  width: 30vh;
  height: 60vh;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;text-align: center;
}

.logo {
  margin-top: 45px;
}


.pfp {
  width: 10%;
  object-fit:contain;
}

.slackbot {
  width: 10%;
  object-fit:contain;
}

.slack-text {
  font-family: sans-serif;
  color: white;
  margin-top: 30px;
  font-size: 18px;
}

.slack-message-container{
  background-color: rgb(231, 231, 231);
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  width: 53vw;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  /* position: fixed; */
}

.slackbot-message-text{
  width: 90%;
  margin-left: 10px;
  flex-direction: column;
}

.slackbot-blue{
  background-color: rgb(234, 248, 255);
}

.glitch {
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  inset: 0;
  z-index: 0;
  position: absolute;
  pointer-events: none;
}

/* Elevator Styles */

.elevator-shaft{
  background-color: black;
  margin: -20px;
}

#lift{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 40px;
  padding-top: 40px;
  

}

#lift-pic{
  /* border: 5px solid; */
  border-color: #ECBA0B;
  box-shadow: 0 0 10px #ECBA0B;
  width: 100%;


}

#lift-number{
  border: 2px solid;
  text-align: center;
  font-family: 'Space Mono', monospace;
  background-color: #675911; 
  border-color: #ECBA0B;
  color: #ECBA0B;
  padding: 10px;
  border-radius: 30px;
  margin-left: 10px ;
  box-shadow: 0 0 20px #ECBA0B;

}


/* ANIMATIONS */

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #0BD7EC ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; */
   /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.type-red{
  border-right: 0.15em solid #EC0B0B ; /* The typwriter cursor */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid #0BD7EC ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret-red .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0BD7EC }
}

@keyframes blink-caret-red {
  from, to { border-color: transparent }
  50% { border-color: #EC0B0B }
}

@keyframes zoom-in {
  0% {
    transform: scale(0,0)
  } 
  /* 25% {
    transform: scale(0.5,0.5)
  } 75% {
    transform: scale(0.75,0.75) */
  100% {
    transform: scale(1,1)
  }
}

/* Basement */

.swipecard {
  max-width: 75px;
  max-height: 75px;
  z-index: -60;
}

.head {
  max-width: 400px;
  max-height: 400px;
  z-index: -90;
  position: absolute;
  top: 500px;
  left: 1000px;
  animation-name: shake;
  animation-duration: 1s;
  
}

.body {
  max-width: 400x;
  max-height: 400px;
  z-index: -90;
  position: absolute;
  top: 500px;
  left: 1000px;
  animation-name: shake;
  animation-duration: 1s;
}
  
.head1 {
  max-width: 470px;
  max-height: 470px;
  z-index: -90;
  position: absolute;
  top: 680px;
  left: 200px;
  rotate: 310deg;
  animation-duration: 1s;
}

.head2 {
  max-width: 350px;
  max-height: 350px;
  z-index: -90;
  position: absolute;
  top: 540px;
  left: 1330px;
  rotate: 15deg;  
}

.head3 {
  max-width: 400px;
  max-height: 400px;
  z-index: -90;
  position: absolute;
  top: 600px;
  left: 620px;
  rotate: 200deg;
}


.unicorn {
  max-width: 120x;
  max-height: 120px;
  z-index: -90;
  position: absolute;
  top: 450px;
  left: 1900px;
  rotate: 45deg;
}

.mole {
  max-width: 135x;
  max-height: 135px;
  z-index: -90;
  position: absolute;
  top: 680px;
  left: 700px;
}

.fade-to-black{
transition: background-color 1s;
background-color: black;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

/* Lights Off MiniGame */

.Cell-on {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ECBA0B;
  border: solid 2px;
  border-color: black;
  margin: 35px;
  cursor: pointer;
  box-shadow: 
  0 0 22px #ECBA0B,
  0 0 42px #ECBA0B;
}

.Cell-off {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4B4409;
  border: solid 2px;
  border-color: #ECBA0B;
  margin: 35px;
  cursor: pointer;
}

.lightoff-background {
  background-image: url('/images/office.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.lightoff-header {
  color: #ECBA0B;
  font-size: 1.5em;
}

#red-text{
  color: #EC0B0B
}

.lightoff-attempts {
  width: 20vw;
  background-color: #4B4409;
  border: 1px solid;
  border-color: #ECBA0B;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 1px;
}

#red-box{
  background-color: #4D0C0C;
  border-color: #EC0B0B;
  /* border-bottom: 10px solid #EC0B0B; */
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 5000;
  color:#EC0B0B;
  box-shadow: 0 0 10px #EC0B0B;}

#red-input{
  background-color: #4D0C0C;
  border-color: #EC0B0B;
  box-shadow: 0 0 10px #EC0B0B;
  /* border-bottom: 10px solid #EC0B0B; */
 
}


.lightoff-img-overlay {
  background-color: rgba(2, 0, 8, 0.647);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'B612 Mono', monospace;
  font-weight: 400;
}





.board {
  margin-top: 50px;
}

.board-haswon {
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Wordle page */

#wordle-background {
  background-image: url('/images/exit.png');
  background-color: black;
  /* position: absolute; */
  /* top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh; */
}

#wordle-phone {
  width: 200px;
  position: absolute;
  margin-top: 80vh;
  margin-left: 85vw;
}

#wordle-screen {
  min-width: 350px;
  height: 300px;
  margin-top: 100px;
  margin-left: 300px;
  padding: 10px;
}

#wordle-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  margin-top: 150px;
  margin-right: 400px;
  margin: 20px;
  align-items: center;
  align-content: center;
  gap: 100px;
  padding: 0px;
}

#wordle-game {
  margin-top: 10px;
  margin-right: 400px;
  background-color: #71985E;
  padding: 20px;
  border-radius: 20px;
}

#wordle-input {
  width: 150px;
  height: 30px;
  border-radius: 20px;
}

#enter-button {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  padding: 2px;
}

#wordle-text {
  font-size: 1rem;
}

#wordle-border {
  border: 2px solid;
  border-color: black;
  padding: 20px;
}

#wordle-postit {
  position: absolute;
  width: 150px;
  margin-left: 550px;
  margin-top: 410px;
  animation: zoom-in 2s ease;
}

#wordle-note {
  position: absolute;
  width: 80px;
  margin-left: 590px;
  margin-top: 430px;
  animation: zoom-in 2s ease;
}



/* About page */

.creator-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.creator-card {
  width: 33%;
  border-radius: 50%;
}

.creator-image{
  border: 2px solid #0BD7EC;
  border-radius: 50%;
  max-width: 200px;
  object-fit: cover;
}


/* HINT STYLING */

#hint-container-btn {
  top: 0;
  left: 0;
  /* z-index: 100; */
  position: fixed;
}

#hint-container{
  background-color: rgb(231, 231, 231);
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  /* width: 45vw; */
  font-size: .8rem;
  font-family: sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  position: fixed;
}

#slackbot-container {
  width: 5vw;
  top: 50%;
}

#slackbot-hint{
  width: 30vw;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
}

#sml-slackbot {
  width: 100%;
  border-radius: 5px;
}

.green-btn-hint {
  width: 50px;
}

.number{
  font-family: 'Space Mono', monospace;
}