/* BRAND COLORS */
/* #0BD7EC (LIGHT BLUE) */
/* #2E2D2B (BLACK) */
/* #114A67 (MEDIUM BLUE) */
/* #09364B (DARK BLUE) */


/* MAIN NAV STYLING */
.main-nav-container{
  width: 100vw;
  text-align: right;
  position: fixed;
  top: 0;
  right:0;
}

#btn-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* NAV BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.in-game-logo{
  width: 60px;
  height:auto;
  position: fixed;
  right:0;
  top:0;
  z-index: 300;
  margin: 5px;

}

.nav-link {
  text-decoration: none;
  border: 2px solid white;
  text-align: right;
  color: #0BD7EC;
}

/* Timer  */

#stopwatch-time{
  position: fixed;
  right:0;
  top:40px;
  z-index: 300;
  margin-top: 10px;
  margin-right: 5px;
  color: #0BD7EC;
  font-family: 'Space Mono', monospace;
  text-transform: capitalize;
  font-weight: 500;
  background-image: url('/images/screen-texture.png');
  background-size: cover;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  border-color: #0BD7EC;
  padding: 5px;
}

#red-time{
  position: fixed;
  right:0;
  top:40px;
  z-index: 300;
  margin-top: 10px;
  margin-right: 5px;
  color: #EC0B0B;
  font-family: 'Space Mono', monospace;
  text-transform: capitalize;
  font-weight: 500;
  background-color: #671111;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  border-color: #EC0B0B;
  padding: 5px;
}

.blinking {
  
  border-bottom: 10px solid #0BD7EC;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 100;
}
@keyframes blinking {
  50% {
    border-color: black;
  }

}

/* Global Styles */

.grey-background {
  /* background-color: #2E2D2B; */
  background-image: url('/images/bg-texture.jpg');
  background-size: cover;
  color: #0BD7EC;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-family: 'B612 Mono', monospace;
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn-container {
  width: 60vw;
  margin: 0 auto;
  text-align: right;
}

.blue-button{
  background-color: #114A67;
  color: #0BD7EC;
  border: 2px solid;
  border-radius: 20px;
  border-color: #0BD7EC;
  font-family: 'B612 Mono', monospace;
  font-size: 1.5em;
  font-weight: 400;
  padding-left: 3em;  
  padding-right: 3em;
  padding-top: .3em;
  padding-bottom: .3em;
  margin: 20px;
  text-transform: uppercase;
}


#red-btn{
  background-color: #671111;
  color: #EC0B0B;
  border-color: #EC0B0B;
}

#green-btn{
  background-color: #2D6711;
  color: #6EEC0B;
  border-color: #6EEC0B;
}

#red-btn:hover{
  background-color: #EC0B0B;
  color: #4D0C0C;
  border-color: #671111;
  cursor: pointer;
}

.blue-button:hover {
  background-color: #0BD7EC;
  color:#09364B;
  border-color: #114A67;
  cursor: pointer;
}

.blue-button-sml {
  width: 10vw;
  font-size: 1rem;
  padding: .5em;
  border-radius: 10px;
  margin: 2px;
}

.blue-button-lge {
  width: 15vw;

}
.screen {
  background-image: url('/images/screen-texture.png');
  background-size: cover;
  min-width: 60%;
  margin: 0 auto;
  text-align: center;
  /* background-color: #09364B; */
  border: 3px solid;
  border-radius: 30px;
  border-color: #0BD7EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;  
  animation: zoom-in 2s ease;
}

#red-screen{
  border-color: #EC0B0B;
  background-color: #4D0C0C;
  color: #EC0B0B;
  background-image: url(#);


}

#yellow-screen {
  background-color: #675911; 
  border-color: #ECBA0B;
  color: #ECBA0B;
  background-image: url(#);
  min-width: 40vw;
  height: 20vh;
  padding: 10px;
}

.screen-sml {
  min-width: 40%;
  width: 40vw;
  font-family: 'B612 Mono', monospace;
  color:#0BD7EC
}

.screen-message {
  font-size: 1.4em;
  padding:2em;
  font-weight: 400;
}



/* START PAGE STYLING */

#esc-logo-container {
  width: 100%;
  height: 60vh;
}

#esc-logo {
  width: 50%;
  height: 60vh;
  margin: 0 auto;
}




/* START GAME FORM STYLING */

#start-game-form-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-label {
  padding: 10px 20px 10px 20px;
  font-size: 1.8rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:100;
}

input{
  background-color: #114A67;
  border: 3px solid #0BD7EC;
}

.input-field {
 
  border-radius: 20px;
  color: #0BD7EC;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 10px 20px 10px 20px;
  font-family: 'B612 Mono', monospace;
}

/* SCENE CARD STYLING */

.slack-card {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
}


.slack-messagecard {
  width: 55vw;
  height: 60vh;
  background-color: white;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;  
  text-align: center;
  font-family: sans-serif;
  color :black;

}

.slack-sidecard {
  background-color: #4A154C;
  width: 30vh;
  height: 60vh;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;text-align: center;
}

.logo {
  margin-top: 45px;
}


.pfp {
  max-width: 15%;
  max-height: 15%;
  margin-top: 50px;
}

.slackbot {
  max-width: 12%;
  max-height: 12%;
  margin-top: -10%
}

.slack-text {
  font-family: sans-serif;
  color: white;
  margin-top: 30px;
}

/* Elevator Styles */

.elevator-shaft{
  background-color: black;
  margin: -20px;
}

#lift{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#lift-number{
   
    text-align: center;
 font-family: 'B612 Mono', monospace;
    color: #0BD7EC;
}

/* ANIMATIONS */

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #0BD7EC ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.type-red{
  border-right: 0.15em solid #EC0B0B ; /* The typwriter cursor */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #0BD7EC ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret-red .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0BD7EC }
}

@keyframes blink-caret-red {
  from, to { border-color: transparent }
  50% { border-color: #EC0B0B }
}

@keyframes zoom-in {
  0% {
    transform: scale(0,0)
  } 
  /* 25% {
    transform: scale(0.5,0.5)
  } 75% {
    transform: scale(0.75,0.75) */
  100% {
    transform: scale(1,1)
  }
}

/* Basement */

.swipecard {
  max-width: 75px;
  max-height: 75px;
  z-index: -80;
}

.js-carnival {
  max-width: 100x;
  max-height: 100px;
  z-index: -90;
}

/* Lights Off MiniGame */

.Cell-on {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ECBA0B;
  border: solid 2px;
  border-color: black;
  margin: 35px;
  cursor: pointer;
  box-shadow: 
  0 0 22px #ECBA0B,
  0 0 42px #ECBA0B;
}

.Cell-off {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4B4409;
  border: solid 2px;
  border-color: #ECBA0B;
  margin: 35px;
  cursor: pointer;
}

.lightoff-background {
  background-image: url('/images/office.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.lightoff-header {
  color: #ECBA0B;
  font-size: 1.5em;
}

.lightoff-attempts {
  width: 20vw;
  background-color: #4B4409;
  border: 1px solid;
  border-color: #ECBA0B;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 1px;
}

.lightoff-img-overlay {
  background-color: rgba(2, 0, 8, 0.647);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'B612 Mono', monospace;
  font-weight: 400;
}

.board {
  margin-top: 50px;
}

.board-haswon {
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* About page */

.creator-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.creator-card {
  width: 33%;
}

.creator-image{
  border: 2px solid #0BD7EC;
  border-radius: 50%;
  max-width: 200px;

}



